.mainProfileDiv {
    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
    }

    &__staffName {
        font-weight: 600;

        @media screen and (max-width: 600px) {
            text-align: center;
            font-size: 15px;
        }
    }

    &__bioText {
        color: #00214e;
        text-align: left;
        font-family: "rawline", sans-serif;
        font-weight: 300;
        line-height: 25px;
        padding: 1px 20px 0px 12px;

        @media screen and (max-width:600px) {
            color: black;
            text-align: left;
            font-size: 14px;
            margin: auto;
            padding: 10px 20px 0px 20px;
        }
    }
}