@use "../../styles/partials/mixins" as *;

.meet-the-band {
    margin-top: 5rem;
    text-align: center;

    &__img {
        width: 75%;
    }
}

.member {
    text-align: center;

    &__bio {
        text-align: left;
        padding: 0 1rem 0 1rem;

        @include tablet {
            padding: 0 3rem 0 3rem;
        }
    }
}
