.ensembles {
    margin-top: 5rem;

    h1 {
        text-align: center;
    }

    &__description {
        width: 60%;
        margin: 1rem auto;
    }
}
.section-selector {
    text-align: center;
}
.ensemble {
    text-align: center;

    &__bio {
        text-align: left;
        padding: 0 3rem 0 3rem;
    }

    &__img {
        width: 75%;
    }
}
