.history {
  min-height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 84px;

  &__description {
    font-size: 1.2rem;
  }

  &__paragraph {
    text-align: left;
    width: 80%;
    margin: auto;
    line-height: 31px;
    color: #00214e;
  }
}
#about-page-pText {
  font-size: 20px;
  color: #00214e;
  padding: 0px;
  margin-top: -10px;
}
