@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: $dark-blue;
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @include tablet {
        display: block;
    }

    &__logo {
        width: 3rem;
    }

    &__link {
        color: white;
        transition: color 0.3s;
        &:hover {
            color: red;
        }
        &--active {
            color: $yellow;
        }
    }

    &__hamburger {
        display: block;
        cursor: pointer;

        @include tablet {
            display: none;
        }

        &--line {
            width: 30px;
            height: 3px;
            background-color: white;
            margin: 5px;
        }
    }

    &__links {
        display: flex;

        @include tablet {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 65px;
        }

        @media (max-width: $tablet-width) {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 65px;
            left: 0;
            width: 100%;
            background-color: $dark-blue;
            padding: 10px;
            border: 1px solid #ccc;
        }

        &--open {
            display: flex;
            /* width: 40%; */
        }
    }
}
