
html {
  background-color: lightgray;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 600;
  color: #00214e;
}
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "rawline", sans-serif;
  font-weight: 300;
  color: #00214e;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  /* font-size: 12px; */
  font-family: "rawline", sans-serif;
  font-weight: 300;
  color: black;
  margin-top: 11px;
}


.fixed {
  position: relative;
  top: -25px;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
.active {
  color: red;
}
.inactive {
  color: yellow;
}
input {
  margin-left: 5px;
}

.sliderimg {
  transition: filter 2s ease;
  backface-visibility: hidden;
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px;
}
.sliderimg:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn,
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item,
.alice-carousel__next-btn-wrapper,
.alice-carousel__prev-btn-wrapper,
.alice-carousel__dots {
  text-align: right;
  display: none !important;
}
#bandlogo {
  width: 5vw;
  height: 5vw;
}
.navbarHomePage {
  background-color: red;
}
.home {
  position: absolute;
  display: flex;
  background-color: #00214e;
  height: 85px;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbarLinks {
  color: black;
  line-height: 40px;
  font-size: 25px;
}
#bandHomePageLogo {
  margin: auto;
  width: 15vw;
}

.contact-page-request-the-band {
  width: 100%;
  margin: 0 auto;
  background-color: #00214e;
  margin-block-end: -1em;
}
.contact-page-request-the-band h2 {
  color: white;
  padding-top: 15px;
}
.contact-page-request-the-band button {
  background-color: #ffcc01;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  color: black;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 50px;
  cursor: pointer;
}
#requestBandInfo {
  color: #ffcc01;
  font-size: 16px;
}
#requestBandPTag {
  width: 50%;
  font-size: 16px;
  margin: auto;
  padding-bottom: 50px;
  line-height: 19px;
}
#requestBandPTag a {
  text-decoration: underline;
  font-size: 16px;
  color: #ffcc01;
}
.emailContainer {
  background-color: #00214e;
}
.emailContainer h2 {
  color: white;
}

#about-page-pText,
#ensembles-page-pText,
#media-page-pText,
#jobs-page-pText {
  font-size: 20px;
  color: #00214e;
  padding: 0px;
  margin-top: -10px;
}
#contact-page-pText2 {
  color: white;
  width: 50%;
  margin: 0 auto;
  line-height: 19px;
}
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 2.1vw;
}
/* Dropdown Content (Hidden by Default) */
.navbar {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 102%;
}
/* Links inside the dropdown */
.navbar a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.navbar a:hover,
li:hover {
  background-color: #ffcc01;
  cursor: pointer;
}
/* Show the dropdown menu on hover */
.navbar {
  display: block;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  margin-left: -33%;
}
.alice-carousel {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  box-shadow: 10px 6px 16px 0px black;
}
.alice-carousel__wrapper {
  margin-top: -1vw;
  margin-bottom: -2vw;
}
.TermsOfUse {
  background-color: #ffcc01;
  box-shadow: 10px 6px 16px 0px black;
  border-radius: 7px;
  width: 72%;
  margin: 5vw auto auto;
  padding: 25px;
  font-family: "rawline", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8em;
  text-align: left;
}
.TermsOfUse p {
  color: black;
}
#TermsPageEmbeddedLink {
  font-size: 18px !important;
  text-decoration: underline;
}
.history {
  border: 1px solid;
  height: 300px;
  width: 300px;
  margin: auto;
}
#historyParagraph {
  text-align: left;
  width: 80%;
  margin: auto;
  line-height: 31px;
  color: #00214e;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}
.meetTheBand {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
}
#bioImg {
  float: left;
  margin-left: 15%;
  width: 200px;
  padding-right: 3%;
  margin-top: 2.9%;
}






.media {
  background-color: #00214e;
  width: 100%;
  padding-bottom: 30px;
}
.container {
  padding: 15px 10px 15px 10px;
  display: block;
}

#roleDescriptions {
  width: 90%;
  margin: auto;
  text-align: left;
  margin-bottom: 20px;
  color: white;
}
#roleDescriptions .audition li {
  list-style-type: auto;
}
#roleDescriptions strong {
  font-size: 17px;
}
#roleDescriptions p {
  line-height: 19px;
}
#auditionFontATag {
  font-size: 16px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: #ffcc01;
}
.jobs-page-description {
  width: 100%;
  background-color: #00214e;
}
.jobs-page-description #roleDescriptions:nth-child(1) {
  padding-bottom: 40px;
}
.jobs-page-description h2,
p {
  color: white;
}
.jobs-page-description h2 {
  padding-top: 15px;
}
.jobs-page-description div ul li {
  list-style-type: disc;
  font-weight: 300;
  font-size: 16px;
}
.jobs-page-description div ul li:hover {
  background-color: #00214e;
  cursor: auto;
}

.audition {
  margin-block-end: -2em;
  padding-bottom: 30px;
  line-height: 19px;
}
.instruments {
  border: 4px solid #ffcc01;
  width: 50%;
  margin: 50px auto;
  padding: 25px;
}
.instruments select {
  margin-bottom: 50px;
}
#pdfLink {
  color: #ffcc01;
  font-size: 14px;
}
.instrumentsByName {
  display: flex;
  flex-direction: column;
  background-color: #00214e;
  width: 100%;
  padding-top: 15px;
}
.instrumentsByName h2 {
  color: white;
  margin-bottom: -35px;
}
.instrumentAndImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  scroll-margin-top: 50px;
  padding: 35px 90px 35px 90px;
}
#instrumentImg {
  width: 40%;
  height: 100%;
}
#instrumentDescription {
  width: 75%;
  margin: auto;
  text-align: left;
  color: white;
  line-height: 23px;
}
#instrumentTitle {
  color: white;
}
.PDF-Options {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vw;
  margin-top: 2vw;
}
#singlePDF-option {
  border: solid 1px black;
  width: 7vw;
}




.profileContainer{
  width: 80%;
  margin: 0 auto;
}
.profileContainer h1,
h2 {
  font-weight: 600;
}
.profileContainer img {
  width: 90%;
}


@media screen and (max-width: 1140px) {
  p {
    font-size: 16px;
  }



}

.li a {
  font-size: 24px;
}
.current-page {
  text-decoration: underline #ff0000 0.15rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mobileMedia {
  width: 50%;
  margin: 0 auto;
}
.mobileMedia img {
  width: 100%;
  margin-top: 15px;
}
.mobileMedia p {
  color: white !important;
  font-size: 16px !important;
}
.mobileMedia a {
  color: #ffcc01;
  font-size: 16px !important;
}





@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media (max-width: 646px) {
  .img {
    width: 20px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
@media screen and (min-width: 1000px) {
  .dropbtn {
    width: 3.1vw;
  }

  .horizontalNav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  #horizontalLinks {
    color: white !important;
    margin-right: 19.5px;
    margin-left: 19.5px;
    font-size: 1.6vw;
  }
  #horizontalLinks:hover {
    background-color: #ffcc01;
    color: black !important;
  }
 
}
@media screen and (max-width: 600px) {
  #desktopImg {
    display: none;
  }
  #mobileImg {
    width: 75%;
  }

  .dropbtn {
    height: 40px;
    width: 40px;
  }
  
  .sliderimg {
    filter: none;
  }
  html {
    font-size: 12px;
  }
  select {
    width: 130px;
    font-size: 15px;
    font-family: "rawline", sans-serif;
  }
  /* .ensembles {
    width: 90%;
  } */


 
  .ensembleName {
    border: 1px solid black;
    padding-top: 2vw;
    margin-top: 2vw;
    background-color: #00214e;
    transition: none;
    color: white;
    border-radius: 22px;
  }
  .ensembleName:hover {
    background-color: #00214e;
    transform: none;
    transition: none;
    color: white;
  }

  #bioImg {
    width: 250px;
    margin: auto;
    margin-top: 3%;
  }
 
  .instrumentAndImg {
    display: block;
    padding: 5px;
  }
  #instrumentDescription {
    width: 100%;
  }
  #oboe,
  #saxophone,
  #horn,
  #euphonium,
  #tuba,
  #keyboard,
  #bass,
  #engineer {
    display: flex;
    flex-direction: column-reverse;
  }
  #instrumentImg {
    width: 75%;
    height: 100%;
    margin: auto;
  }
  #requestBandPTag {
    width: 90%;
  }
 
 
}
#submit {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(40, 88, 164, 1) 0%,
    rgba(1, 1, 108, 1) 100%
  );
  box-shadow: 0px 5px 6px 0px #0000003d;
  margin-bottom: 53 px;
  font-size: 32px;
  height: 67 px;
  text-align: left;
  border-width: 0 px;
}
.bx-row-submit {
  display: flex;
}
@media screen and (max-width: 737px) {
  .youtube {
    width: 100%;
  }
}
@media screen and (max-width: 999px) {
  .mainnavbar {
    height: 52px;
  }
  .mainnavbar a {
    position: initial;
  }

  .App {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .alice-carousel {
    display: none;
  }

  .timeline {
    display: none;
  }

  .profileContainer {
    width: 100%;
  }
  .instrumentsByName {
    display: flex;
    flex-direction: column;
    background-color: #00214e;
    width: 100%;

  }
  .youtube {
    display: none;
  }
  .mobileMedia {
    display: block;
    width: 100%;
  }
  .mobileMedia p {
    color: white !important;
    font-size: 16px !important;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 601px) {

  #mobileImg {
    display: none;
  }
}
@media screen and (max-height: 360px) {

  .menu {
    line-height: 33px;
  }
}

